.navbar-brand-xtetis{
color: #577A88 !important;
font-size: 40px;
margin-top: -15px;
margin-bottom: -15px;
font-weight: bold;
font-family: TimesNewRoman;
}


.navbar-brand-xtetis span.first_letter{
color: #F68627;
}
